[Desktop Entry]
Name=Calculator
GenericName=Noctalia calculator
Comment=Noctalia theme aware calculator application
Keywords=calculator;math;arithmetics;work;calculations;
Icon=accessories-calculator
Exec=noctalia msg panel-toggle yuuto/calculator:panel
Type=Application
Terminal=false
Categories=Utility;System;
