[Desktop Entry]
Type=Application
Name=Spotify
GenericName=Music Player
Icon=spotify-client
TryExec=spotify
# Exec=sh -c '"$HOME/.local/bin/spicetify-watch" "$@"' _ %U
Exec=env -u DISPLAY spotify --enable-features=UseOzonePlatform --ozone-platform=wayland --uri=%u
Terminal=false
MimeType=x-scheme-handler/spotify;
Categories=Audio;Music;Player;AudioVideo;
StartupWMClass=spotify
