// Noctalia binds
binds {
    // === Application Launchers ===
    Alt+Space hotkey-overlay-title="Application Launcher" {
        spawn-sh "noctalia msg panel-toggle launcher"
    }
    Mod+Z hotkey-overlay-title="Control Center" {
        spawn-sh "noctalia msg panel-toggle control-center"
    }
    Mod+Shift+E hotkey-overlay-title="Emoji Picker" {
        spawn-sh "noctalia msg panel-toggle launcher /emo"
    }
    Mod+V hotkey-overlay-title="Clipboard Manager" {
        spawn-sh "noctalia msg panel-toggle clipboard"
    }
    Mod+Shift+backspace hotkey-overlay-title="Power Menu: Toggle" {
        spawn-sh "noctalia msg panel-toggle session"
    }
    Mod+N hotkey-overlay-title="Notification Center" {
        spawn-sh "noctalia msg panel-toggle control-center notifications"
    }
    Mod+Alt+N hotkey-overlay-title="Notifications Clear All" {
        spawn-sh "noctalia msg notification-clear-history"
    }
    Mod+Ctrl+N hotkey-overlay-title="Notifications Dismiss All" {
        spawn-sh "noctalia msg notification-clear-active"
    }
    // === Security ===
    Mod+Ctrl+Alt+L hotkey-overlay-title="Lock Screen" {
        spawn-sh "noctalia msg session lock"
    }
    Mod+Ctrl+Shift+L hotkey-overlay-title="Lock & Suspend" {
        spawn-sh "noctalia msg session lock-and-suspend"
    }
    // === Audio Controls ===
    XF86AudioRaiseVolume allow-when-locked=true {
        spawn-sh "noctalia msg volume-up 2"
    }
    XF86AudioLowerVolume allow-when-locked=true {
        spawn-sh "noctalia msg volume-down 2"
    }
    XF86AudioMute allow-when-locked=true {
        spawn-sh "noctalia msg volume-mute"
    }
    XF86AudioMicMute allow-when-locked=true {
        spawn-sh "noctalia msg mic-mute"
    }
    XF86AudioPause allow-when-locked=true {
        spawn-sh "noctalia msg media toggle"
    }
    XF86AudioPlay allow-when-locked=true {
        spawn-sh "noctalia msg media toggle"
    }
    XF86AudioPrev allow-when-locked=true {
        spawn-sh "noctalia msg media previous"
    }
    XF86AudioNext allow-when-locked=true {
        spawn-sh "noctalia msg media next"
    }
    // === Brightness Controls ===
    XF86MonBrightnessUp allow-when-locked=true {
        spawn-sh "noctalia msg brightness-up"
    }
    XF86MonBrightnessDown allow-when-locked=true {
        spawn-sh "noctalia msg brightness-down"
    }
    // === Misc ===
    Mod+Ctrl+Alt+Backslash hotkey-overlay-title="Toggle Idle Inhibitor" {
        spawn-sh "noctalia msg caffeine-toggle"
    }
    Mod+Ctrl+Alt+W hotkey-overlay-title="Random Wallpaper" {
        spawn-sh "noctalia msg wallpaper-random"
    }
    Mod+Ctrl+Alt+U hotkey-overlay-title="Check System Updates" {
        spawn-sh "noctalia msg panel-toggle yuuto/arch-updater:panel"
    }
    Mod+Slash hotkey-overlay-title="Toggle Keybinds Cheatsheet" {
        spawn-sh "noctalia msg panel-toggle kenn/keybind-cheatsheet:cheatsheet"
    }
}
