// Set the overview wallpaper on the backdrop.
layer-rule {
  match namespace="^noctalia-backdrop"

  place-within-backdrop true
}

/*
  Noctalia
  Disable xray on all our surfaces so it looks more realistic.
  Noctalia publishes blur regions automatically when ext-background-effects is available.
*/
layer-rule {
  match namespace="^noctalia-(bar-[^\"]+|notification|dock|panel|attached-panel|osd)$"

  background-effect {
    xray false
    // blur false
  }
}


/* Enable blur on noctalia's window switcher and disable xray. */
layer-rule {
    match namespace="noctalia-window-switcher"

    background-effect {
        blur true
        xray false
    }
}
