// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction
//
//
// Include our niri config files
include "modules/root.kdl"
include "modules/input.kdl"
include "modules/layout.kdl"
include "modules/layers.kdl"
include "modules/windows.kdl"
include "modules/workspaces.kdl"
include "modules/actions.kdl"
include "modules/animations.kdl"
//
//
// Include dms files
include "dms/colors.kdl"
// include "dms/layout.kdl"
include "dms/alttab.kdl"
include "dms/binds.kdl"
include "dms/outputs.kdl"
include "dms/cursor.kdl"
include "dms/windowrules.kdl"
