// Override to disable super+tab
recent-windows {
    debounce-ms 750
    open-delay-ms 100

    binds {
        Mod+Tab {
            next-window scope="output"
        }
        Mod+Shift+Tab {
            previous-window scope="output"
        }
        Alt+Tab {
            next-window filter="app-id"
        }
        Alt+Shift+Tab {
            previous-window filter="app-id"
        }
    }
    highlight {
        corner-radius 16
        padding 16
    }

    previews {
        max-height 500
        max-scale 0.75
    }
}
overview {
    workspace-shadow {
        on
    }
    zoom 0.35
}
