animations {
    workspace-switch {
        duration-ms 200
        curve "cubic-bezier" 0.42 0 0.58 1
    }
    window-open {
        duration-ms 200
        curve "cubic-bezier" 0.42 0 0.58 1
    }
    window-close {
        duration-ms 200
        curve "cubic-bezier" 0.42 0 0.58 1
    }
    horizontal-view-movement {
        duration-ms 200
        curve "cubic-bezier" 0.42 0 0.58 1
    }
    window-movement {
        duration-ms 350
        curve "cubic-bezier" 0.42 0 0.58 1
    }
    window-resize {
        duration-ms 200
        curve "cubic-bezier" 0.42 0 0.58 1
    }
    config-notification-open-close {
        duration-ms 250
        curve "cubic-bezier" 0.42 0 0.58 1
    }
    screenshot-ui-open {
        duration-ms 250
        curve "cubic-bezier" 0.42 0 0.58 1
    }
    overview-open-close {
        duration-ms 300
        curve "cubic-bezier" 0.42 0 0.58 1
    }
    recent-windows-close {
        duration-ms 300
        curve "cubic-bezier" 0.42 0 0.58 1
    }
}
