// Input device configuration.
// Find the full list of options on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input
input {
    keyboard {
        xkb {}
        repeat-delay 300
        repeat-rate 50
        track-layout "global"
        // Enable numlock on startup, omitting this setting disables it.
        numlock
    }
    // Next sections include libinput settings.
    // Omitting settings disables them, or leaves them at their default values.
    // All commented-out settings here are examples, not defaults.
    touchpad {
        // off
        tap
        // dwt
        // dwtp
        // drag false
        // drag-lock
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "two-finger"
        // disabled-on-external-mouse
        natural-scroll
    }
    mouse {
        // off
        // natural-scroll
        // scroll-method "no-scroll"
        accel-speed 0.0
        accel-profile "flat"
        scroll-factor 1.75
    }
    trackpoint {}
    // Uncomment this to make the mouse warp to the center of newly focused windows.
    // warp-mouse-to-focus
    // Focus windows and outputs automatically when moving the mouse into them.
    // Setting max-scroll-amount="0%" makes it work only on windows already fully on screen.
    focus-follows-mouse max-scroll-amount="25%"
}
