config-notification {
    disable-failed
}
//
//
debug {
    // Allows notification actions and window activation from Noctalia.
    honor-xdg-activation-with-invalid-serial
}
//
//
environment {
    // GDK_BACKEND "wayland,x11"
    _JAVA_AWT_WM_NONREPARENTING "1"
    CLUTTER_BACKEND "wayland"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    JAVA_TOOL_OPTIONS "-Dawt.useSystemAAFontSettings=on"
    MOZ_DBUS_REMOTE "true"
    MOZ_ENABLE_WAYLAND "true"
    NIXOS_OZONE_WL "true"
    QT_AUTO_SCREEN_SCALE_FACTOR "1"
    QT_QPA_PLATFORM "wayland"
    QT_QPA_PLATFORMTHEME "qt6ct"
    QT_QPA_PLATFORMTHEME_QT6 "qt6ct"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "true"
    SDL_VIDEODRIVER "wayland"
    TERMINAL "ghostty"
    XDG_CURRENT_DESKTOP "niri"
    XDG_MENU_PREFIX "arch-"
    XDG_SESSION_DESKTOP "niri"
    XDG_SESSION_TYPE "wayland"
    YDOTOOL_SOCKET "/tmp/ydotool.sock"
}
//
//
gestures {
    hot-corners {
        off
    }
}
//
//
hotkey-overlay {
    hide-not-bound
    skip-at-startup
}
//
//
prefer-no-csd
//
//
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
//
//
xwayland-satellite {
    path "xwayland-satellite"
}

// Sync the environment first
spawn-sh-at-startup "dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP"

// Wait for Niri's ScreenCast interface, then kick the portal
spawn-sh-at-startup "timeout 10s sh -c 'while ! busctl --user status org.gnome.Mutter.ScreenCast >/dev/null 2>&1; do sleep 0.2; done'; pkill -f xdg-desktop-portal-gnome"

spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
