config-notification {
    disable-failed
}
//
//
debug {
    // Allows notification actions and window activation from Noctalia.
    honor-xdg-activation-with-invalid-serial
}
//
//
environment {
    XDG_CURRENT_DESKTOP "niri"
}
//
//
gestures {
    hot-corners {
        off
    }
}
//
//
hotkey-overlay {
    skip-at-startup
}
//
//
prefer-no-csd
//
//
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
//
//
xwayland-satellite {
    path "xwayland-satellite"
}
