// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Window-Rules
// Work around WezTerm's initial configure bug
// by setting an empty default-column-width.
window-rule {
    clip-to-geometry true
    draw-border-with-background false
    geometry-corner-radius 16
    tiled-state true
}
window-rule {
    match is-focused=true

    opacity 0.98
}
window-rule {
    match is-focused=false

    opacity 0.96
}
window-rule {
    match app-id="^org\\.gnome\\."

    clip-to-geometry true
    draw-border-with-background false
    geometry-corner-radius 12
}
window-rule {
    match app-id="^org\\.wezfurlong\\.wezterm$"
    match app-id="Alacritty"
    match app-id="com.mitchellh.ghostty"
    match app-id="kitty"
    match app-id="zen"

    draw-border-with-background false
}
window-rule {
    match app-id="^org\\.kde\\.haruna$"
    match app-id="^org\\.nomacs\\.ImageLounge$"

    default-column-width {
        proportion 0.95
    }
    default-window-height {
        proportion 0.97
    }
    opacity 1.0
}

// Floating Windows
window-rule {
    match app-id="^gnome-control-center$"
    match app-id="^nm-connection-editor$"
    match app-id="^pavucontrol$"

    default-column-width {
        proportion 0.5
    }
    open-floating true
}
window-rule {
    match app-id="^blueman-manager$"
    match app-id="^galculator$"
    match app-id="^gnome-calculator$"
    match app-id="^org\\.gnome\\.Nautilus$"
    match app-id="^org\\.kde\\.haruna$"
    match app-id="^org\\.nomacs\\.ImageLounge$"
    match app-id="^xdg-desktop-portal$"

    open-floating true
}
window-rule {
    match app-id="^steam$" title="^notificationtoasts_\\d+_desktop$"

    default-floating-position x=10 y=10 relative-to="bottom-right"
    open-focused false
}
window-rule {
    match app-id="firefox$" title="^Picture-in-Picture$"
    match app-id="zoom"

    open-floating true
}
window-rule {
    match app-id="zen" title="^Library$"

    default-column-width {
        proportion 0.5
    }
    default-window-height {
        proportion 0.6
    }
    open-floating true
}
window-rule {
    match app-id="com.mitchellh.ghostty" title="^System Update$"

    default-column-width {
        proportion 0.6
    }
    default-window-height {
        proportion 0.8
    }
    open-floating true
}
window-rule {
    match app-id="com.gabm.satty" title="^satty$"

    default-column-width {
        proportion 0.8
    }
    default-window-height {
        proportion 0.8
    }
    open-floating true
}
window-rule {
    match title="^Open File$"

    default-column-width {
        proportion 0.4
    }
    default-window-height {
        proportion 0.5
    }
    open-floating true
    open-focused true
}

// Open Windows on Workspaces
window-rule {
    match app-id="^(S|s)potify$"

    open-focused false
    open-maximized true
    open-on-workspace "prim-2"
}
window-rule {
    match app-id="com.anthropic.claude-desktop"

    default-column-width {
        proportion 0.7
    }
    open-focused true
    open-on-workspace "sec-2"
}
