layout {
    background-color "transparent"

    focus-ring {
        off
        active-color   "{{colors.primary.default.hex}}"
        inactive-color "{{colors.on_surface_variant.default.hex}}"
        urgent-color   "{{colors.error.default.hex}}"
    }

    border {
        on
        active-gradient   from="{{colors.primary.default.hex}}" to="{{colors.tertiary.default.hex}}" angle=45 in="oklch shorter hue" relative-to="workspace-view"
        inactive-gradient from="{{colors.surface_variant.default.hex}}" to="{{colors.on_surface_variant.default.hex}}" angle=45
        urgent-gradient   from="{{colors.error.default.hex}}" to="{{colors.tertiary_fixed_dim.default.hex}}" angle=45
    }

    shadow {
        color "{{colors.shadow.default.hex}}70"
    }

    tab-indicator {
        active-color   "{{colors.primary.default.hex}}"
        inactive-color "{{colors.on_surface_variant.default.hex}}"
        urgent-color   "{{colors.error.default.hex}}"
    }

    insert-hint {
        color "{{colors.primary.default.hex}}80"
    }
}

recent-windows {
    highlight {
        active-color   "{{colors.on_surface_variant.default.hex}}"
        urgent-color   "{{colors.error.default.hex}}"
    }
}
