<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autohide</key>
	<true/>
	<key>autohide-time-modifier</key>
	<real>0.98554229736328125</real>
	<key>contents-immutable</key>
	<false/>
	<key>largesize</key>
	<real>128</real>
	<key>last-analytics-stamp</key>
	<array>
		<real>699149138.18130302</real>
	</array>
	<key>lastShowIndicatorTime</key>
	<real>691277631.24858701</real>
	<key>loc</key>
	<string>en_US:MX</string>
	<key>magnification</key>
	<false/>
	<key>mineffect</key>
	<string>suck</string>
	<key>minimize-to-application</key>
	<true/>
	<key>mod-count</key>
	<integer>239</integer>
	<key>mouse-over-hilite-stack</key>
	<true/>
	<key>mru-spaces</key>
	<false/>
	<key>no-bouncing</key>
	<true/>
	<key>persistent-apps</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>333096700</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vaywCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAATAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zDwAAAAEBAABQYXRoIEZp
				bmRlci5hcHAACAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAA
				CP8VAAAAAAAIAAAABAMAAKJFBQAAAAAACAAAAAEGAABM
				AAAAXAAAAAgAAAAABAAAQcSSoEAAAAAYAAAAAQIAAAIA
				AAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmls
				ZTovLy8HAAAAAQEAAE1hY05WTUUACAAAAAQDAAAAwFrU
				6AAAAAgAAAAABAAAQcSc+SYAAAAkAAAAAQEAADFFNzBE
				NzM4LTkzNzQtNDI1Qi05QzgzLTZBNzA1N0IyQUQ3QhgA
				AAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAA
				AAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAAAAAA
				DQAAAAQQAAA8AAAAAAAAAAUQAABsAAAAAAAAABAQAACM
				AAAAAAAAAEAQAAB8AAAAAAAAAAIgAAA4AQAAAAAAAAUg
				AACsAAAAAAAAABAgAAC8AAAAAAAAABEgAADsAAAAAAAA
				ABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAA
				AAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.cocoatech.PathFinder</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Path%20Finder.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Path Finder</string>
				<key>file-mod-date</key>
				<integer>3751459200</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>53188335823104</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1225999698</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAUAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zEQAAAAEBAABHb29nbGUg
				Q2hyb21lLmFwcAAAAAgAAAABBgAAEAAAACQAAAAIAAAA
				BAMAAAj/FQAAAAAACAAAAAQDAAC3MgMAAAAAAAgAAAAB
				BgAAUAAAAGAAAAAIAAAAAAQAAEHEl2ImgAAAGAAAAAEC
				AAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkA
				AGZpbGU6Ly8vBwAAAAEBAABNYWNOVk1FAAgAAAAEAwAA
				AMBa1OgAAAAIAAAAAAQAAEHEnPkmAAAAJAAAAAEBAAAx
				RTcwRDczOC05Mzc0LTQyNUItOUM4My02QTcwNTdCMkFE
				N0IYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAA
				AAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7///8BAAAA
				AAAAAA0AAAAEEAAAQAAAAAAAAAAFEAAAcAAAAAAAAAAQ
				EAAAkAAAAAAAAABAEAAAgAAAAAAAAAACIAAAPAEAAAAA
				AAAFIAAAsAAAAAAAAAAQIAAAwAAAAAAAAAARIAAA8AAA
				AAAAAAASIAAA0AAAAAAAAAATIAAA4AAAAAAAAAAgIAAA
				HAEAAAAAAAAwIAAASAEAAAAAAAAQ0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.google.Chrome</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Google%20Chrome.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Google Chrome</string>
				<key>file-mod-date</key>
				<integer>3757354479</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>121194851710610</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3086386768</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vaygCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAASAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zCQAAAAEBAABTbGFjay5h
				cHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAAI/xUA
				AAAAAAgAAAAEAwAA5E8HAAAAAAAIAAAAAQYAAEgAAABY
				AAAACAAAAAAEAABBxIzax4AAABgAAAABAgAAAgAAAAAA
				AAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8v
				LwcAAAABAQAATWFjTlZNRQAIAAAABAMAAADAWtToAAAA
				CAAAAAAEAABBxJz5JgAAACQAAAABAQAAMUU3MEQ3Mzgt
				OTM3NC00MjVCLTlDODMtNkE3MDU3QjJBRDdCGAAAAAEC
				AACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEA
				AC8AAAAAAAAAAQUAAKgAAAD+////AQAAAAAAAAANAAAA
				BBAAADgAAAAAAAAABRAAAGgAAAAAAAAAEBAAAIgAAAAA
				AAAAQBAAAHgAAAAAAAAAAiAAADQBAAAAAAAABSAAAKgA
				AAAAAAAAECAAALgAAAAAAAAAESAAAOgAAAAAAAAAEiAA
				AMgAAAAAAAAAEyAAANgAAAAAAAAAICAAABQBAAAAAAAA
				MCAAAEABAAAAAAAAENAAAAQAAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.tinyspeck.slackmacgap</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Slack.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Slack</string>
				<key>file-mod-date</key>
				<integer>3750702735</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>101012800031242</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3086386769</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vaygCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAASAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zCQAAAAEBAABGcmFuei5h
				cHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAAI/xUA
				AAAAAAgAAAAEAwAAc2EHAAAAAAAIAAAAAQYAAEgAAABY
				AAAACAAAAAAEAABBxATZ4oAAABgAAAABAgAAAgAAAAAA
				AAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8v
				LwcAAAABAQAATWFjTlZNRQAIAAAABAMAAADAWtToAAAA
				CAAAAAAEAABBxJz5JgAAACQAAAABAQAAMUU3MEQ3Mzgt
				OTM3NC00MjVCLTlDODMtNkE3MDU3QjJBRDdCGAAAAAEC
				AACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEA
				AC8AAAAAAAAAAQUAAKgAAAD+////AQAAAAAAAAANAAAA
				BBAAADgAAAAAAAAABRAAAGgAAAAAAAAAEBAAAIgAAAAA
				AAAAQBAAAHgAAAAAAAAAAiAAADQBAAAAAAAABSAAAKgA
				AAAAAAAAECAAALgAAAAAAAAAESAAAOgAAAAAAAAAEiAA
				AMgAAAAAAAAAEyAAANgAAAAAAAAAICAAABQBAAAAAAAA
				MCAAAEABAAAAAAAAENAAAAQAAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.meetfranz.franz</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Franz.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Franz</string>
				<key>file-mod-date</key>
				<integer>3732876485</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>101012800031242</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>536300599</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0ACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAYAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwwAAAABAQAAQ2FsZW5kYXIuYXBwDAAAAAEGAAAQAAAA
				IAAAADQAAAAIAAAABAMAABUAAAD///8PCAAAAAQDAAAX
				AAAA////DwgAAAAEAwAATB0AAP///w8MAAAAAQYAAFwA
				AABsAAAAfAAAAAgAAAAABAAAQcSc+SYAAAAYAAAAAQIA
				AAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAA
				ZmlsZTovLy8HAAAAAQEAAE1hY05WTUUACAAAAAQDAAAA
				wFrU6AAAACQAAAABAQAAMUU3MEQ3MzgtOTM3NC00MjVC
				LTlDODMtNkE3MDU3QjJBRDdCGAAAAAECAACBAAAAAQAA
				AO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAA
				AQUAAKgAAAD+////AQAAAAAAAAANAAAABBAAAEgAAAAA
				AAAABRAAAIwAAAAAAAAAEBAAALAAAAAAAAAAQBAAAKAA
				AAAAAAAAAiAAAEwBAAAAAAAABSAAANAAAAAAAAAAECAA
				AOAAAAAAAAAAESAAAAABAAAAAAAAEiAAAPAAAAAAAAAA
				EyAAAKAAAAAAAAAAICAAACwBAAAAAAAAMCAAAFgBAAAA
				AAAAENAAAAQAAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.iCal</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Calendar.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Calendar</string>
				<key>file-mod-date</key>
				<integer>3752815436</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3752815436</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3086386770</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vaygCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAASAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zCQAAAAEBAABTcGFyay5h
				cHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAAI/xUA
				AAAAAAgAAAAEAwAA6lMeAAAAAAAIAAAAAQYAAEgAAABY
				AAAACAAAAAAEAABBxK+NjIAAABgAAAABAgAAAgAAAAAA
				AAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8v
				LwcAAAABAQAATWFjTlZNRQAIAAAABAMAAADAWtToAAAA
				CAAAAAAEAABBxJz5JgAAACQAAAABAQAAMUU3MEQ3Mzgt
				OTM3NC00MjVCLTlDODMtNkE3MDU3QjJBRDdCGAAAAAEC
				AACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEA
				AC8AAAAAAAAAAQUAAKgAAAD+////AQAAAAAAAAANAAAA
				BBAAADgAAAAAAAAABRAAAGgAAAAAAAAAEBAAAIgAAAAA
				AAAAQBAAAHgAAAAAAAAAAiAAADQBAAAAAAAABSAAAKgA
				AAAAAAAAECAAALgAAAAAAAAAESAAAOgAAAAAAAAAEiAA
				AMgAAAAAAAAAEyAAANgAAAAAAAAAICAAABQBAAAAAAAA
				MCAAAEABAAAAAAAAENAAAAQAAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.readdle.smartemail-Mac</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Spark.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Spark</string>
				<key>file-mod-date</key>
				<integer>158273301681322</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>101012800031242</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>4269083027</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vaygCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAASAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zCwAAAAEBAABTcG90aWZ5
				LmFwcAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAAI/xUA
				AAAAAAgAAAAEAwAA8XsJAAAAAAAIAAAAAQYAAEgAAABY
				AAAACAAAAAAEAABBwxMnkgAAABgAAAABAgAAAgAAAAAA
				AAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8v
				LwcAAAABAQAATWFjTlZNRQAIAAAABAMAAADAWtToAAAA
				CAAAAAAEAABBxJz5JgAAACQAAAABAQAAMUU3MEQ3Mzgt
				OTM3NC00MjVCLTlDODMtNkE3MDU3QjJBRDdCGAAAAAEC
				AACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEA
				AC8AAAAAAAAAAQUAAKgAAAD+////AQAAAAAAAAANAAAA
				BBAAADgAAAAAAAAABRAAAGgAAAAAAAAAEBAAAIgAAAAA
				AAAAQBAAAHgAAAAAAAAAAiAAADQBAAAAAAAABSAAAKgA
				AAAAAAAAECAAALgAAAAAAAAAESAAAOgAAAAAAAAAEiAA
				AMgAAAAAAAAAEyAAANgAAAAAAAAAICAAABQBAAAAAAAA
				MCAAAEABAAAAAAAAENAAAAQAAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.spotify.client</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Spotify.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Spotify</string>
				<key>file-mod-date</key>
				<integer>0</integer>
				<key>file-type</key>
				<integer>1</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>0</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1062754855</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vaygCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAASAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zCQAAAAEBAABpVGVybS5h
				cHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAAI/xUA
				AAAAAAgAAAAEAwAAkYsaAAAAAAAIAAAAAQYAAEgAAABY
				AAAACAAAAAAEAABBxLGkPQAAABgAAAABAgAAAgAAAAAA
				AAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8v
				LwcAAAABAQAATWFjTlZNRQAIAAAABAMAAADAWtToAAAA
				CAAAAAAEAABBxJz5JgAAACQAAAABAQAAMUU3MEQ3Mzgt
				OTM3NC00MjVCLTlDODMtNkE3MDU3QjJBRDdCGAAAAAEC
				AACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEA
				AC8AAAAAAAAAAQUAAKgAAAD+////AQAAAAAAAAANAAAA
				BBAAADgAAAAAAAAABRAAAGgAAAAAAAAAEBAAAIgAAAAA
				AAAAQBAAAHgAAAAAAAAAAiAAADQBAAAAAAAABSAAAKgA
				AAAAAAAAECAAALgAAAAAAAAAESAAAOgAAAAAAAAAEiAA
				AMgAAAAAAAAAEyAAANgAAAAAAAAAICAAABQBAAAAAAAA
				MCAAAEABAAAAAAAAENAAAAQAAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.googlecode.iterm2</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/iTerm.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>iTerm</string>
				<key>file-mod-date</key>
				<integer>129252206464563</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>121194851710610</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
	</array>
	<key>persistent-others</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>286978324</integer>
			<key>tile-data</key>
			<dict>
				<key>arrangement</key>
				<integer>1</integer>
				<key>book</key>
				<data>
				Ym9va+wBAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAADAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zBAAAAAEGAAAQAAAACAAA
				AAQDAAAI/xUAAAAAAAQAAAABBgAAMAAAAAgAAAAABAAA
				QcSc+SYAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAA
				AAAAAAAAAAgAAAABCQAAZmlsZTovLy8HAAAAAQEAAE1h
				Y05WTUUACAAAAAQDAAAAwFrU6AAAACQAAAABAQAAMUU3
				MEQ3MzgtOTM3NC00MjVCLTlDODMtNkE3MDU3QjJBRDdC
				GAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAAB
				AAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+////AQAAAAAA
				AAANAAAABBAAACQAAAAAAAAABRAAAEAAAAAAAAAAEBAA
				AFwAAAAAAAAAQBAAAEwAAAAAAAAAAiAAAPgAAAAAAAAA
				BSAAAHwAAAAAAAAAECAAAIwAAAAAAAAAESAAAKwAAAAA
				AAAAEiAAAJwAAAAAAAAAEyAAAEwAAAAAAAAAICAAANgA
				AAAAAAAAMCAAAAQBAAAAAAAAENAAAAQAAAAAAAAA
				</data>
				<key>displayas</key>
				<integer>1</integer>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Applications</string>
				<key>file-mod-date</key>
				<integer>69509209073005</integer>
				<key>file-type</key>
				<integer>2</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3748486006</integer>
				<key>preferreditemsize</key>
				<integer>-1</integer>
				<key>showas</key>
				<integer>3</integer>
			</dict>
			<key>tile-type</key>
			<string>directory-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>2633989307</integer>
			<key>tile-data</key>
			<dict>
				<key>arrangement</key>
				<integer>2</integer>
				<key>book</key>
				<data>
				Ym9va2wDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAjAIAAAQAAAADAwAAAAAAIAcA
				AAABAQAAVm9sdW1lcwAHAAAAAQEAAEZpcmVIREQACQAA
				AAEBAABEb3dubG9hZHMAAAAMAAAAAQYAABAAAAAgAAAA
				MAAAAAgAAAAEAwAAaHAAAAAAAAAIAAAABAMAAAIAAAAA
				AAAACAAAAAQDAAAMAQAAAAAAAAwAAAABBgAAWAAAAGgA
				AAB4AAAACAAAAAAEAABBwheGpQAAABgAAAABAgAAAgAA
				AAAAAAAPAAAAAAAAAAAAAAAAAAAAGAAAAAEJAABmaWxl
				Oi8vL1ZvbHVtZXMvRmlyZUhERC8IAAAABAMAAADAkKzR
				AQAACAAAAAAEAABBwheGbYAAACQAAAABAQAAQjg4NDNC
				RTctMjBDQS0zMkVELUE1REEtMjkzRTRFREJDRkIyGAAA
				AAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAAQAAAA
				AQEAAC9Wb2x1bWVzL0ZpcmVIREQIAAAAAQkAAGZpbGU6
				Ly8vBwAAAAEBAABNYWNOVk1FAAgAAAAEAwAAAMBa1OgA
				AAAIAAAAAAQAAEHEnPkmAAAAJAAAAAEBAAAxRTcwRDcz
				OC05Mzc0LTQyNUItOUM4My02QTcwNTdCMkFEN0IBAAAA
				AQEAAC8AAABgAAAA/v///wDwAAAAAAAABwAAAAIgAADc
				AQAAAAAAAAUgAABwAQAAAAAAABAgAACAAQAAAAAAABEg
				AACwAQAAAAAAABIgAACQAQAAAAAAABMgAACgAQAAAAAA
				ACAgAAA4AQAAAAAAAAQAAAADAwAAAPAAAAQAAAADAwAA
				AAAAAAQAAAADAwAAAQAAABAAAAABBgAAUAIAAFwCAABo
				AgAAXAIAAKgAAAD+////AQAAAOgBAAANAAAABBAAAEQA
				AAAAAAAABRAAAIgAAAAAAAAAEBAAAKwAAAAAAAAAQBAA
				AJwAAAAAAAAAACAAAHQCAAAAAAAAAiAAAFgBAAAAAAAA
				BSAAAMwAAAAAAAAAECAAACAAAAAAAAAAESAAAAwBAAAA
				AAAAEiAAAOwAAAAAAAAAEyAAAPwAAAAAAAAAICAAADgB
				AAAAAAAAENAAAAQAAAAAAAAA
				</data>
				<key>displayas</key>
				<integer>1</integer>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Volumes/FireHDD/Downloads/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Downloads</string>
				<key>file-mod-date</key>
				<integer>3753820052</integer>
				<key>file-type</key>
				<integer>2</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3753382523</integer>
				<key>preferreditemsize</key>
				<integer>-1</integer>
				<key>showas</key>
				<integer>2</integer>
			</dict>
			<key>tile-type</key>
			<string>directory-tile</string>
		</dict>
	</array>
	<key>recent-apps</key>
	<array/>
	<key>region</key>
	<string>MX</string>
	<key>scroll-to-open</key>
	<true/>
	<key>show-process-indicators</key>
	<true/>
	<key>show-recents</key>
	<false/>
	<key>showhidden</key>
	<true/>
	<key>single-app</key>
	<false/>
	<key>springboard-columns</key>
	<integer>0</integer>
	<key>springboard-rows</key>
	<integer>0</integer>
	<key>static-only</key>
	<false/>
	<key>tilesize</key>
	<real>59</real>
	<key>trash-full</key>
	<true/>
	<key>version</key>
	<integer>1</integer>
	<key>wvous-br-corner</key>
	<integer>1</integer>
	<key>wvous-br-modifier</key>
	<integer>1048576</integer>
</dict>
</plist>
